<button type="button" class="btn btn-primary btn-sm btn-block">Primary</button>
<button type="button" class="btn btn-secondary btn-sm btn-block">Secondary</button>
<button type="button" class="btn btn-success btn-sm btn-block">Success</button>
<button type="button" class="btn btn-danger btn-sm btn-block">Danger</button>
<button type="button" class="btn btn-warning btn-sm btn-block">Warning</button>
<button type="button" class="btn btn-info btn-sm btn-block">Info</button>
<button type="button" class="btn btn-light btn-sm btn-block">Light</button>
<button type="button" class="btn btn-dark btn-sm btn-block">Dark</button>

<button type="button" class="btn btn-link btn-sm btn-block">Link</button>