<nav class="navbar navbar-dark bg-wgrblue px-2 py-1 ">
    <a class="navbar-brand" href="#">
        <img src="../../lib/img/logo/navlogo-white.png" height="40" />
    </a>


    <ul class="nav nav-pills">

        <li class="nav-item px-2">
            <div class="dropdown">
                <button class="btn navbtn-wgr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="fas fa-bell"></i>
                    <span class="notifybadge badge-danger">1</span>
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">Bildirimler</h6>
                    <button class="dropdown-item text-bold" type="button">
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-md-6">
                                    Sistem bildirimi
                                </div>

                                <div class="col-md-6 text-right">
                                    12:21
                                </div>

                            </div>
                        </div>
                    </button>
                    <button class="dropdown-item" type="button">
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-md-6">
                                    Sistem bildirimi 2
                                </div>

                                <div class="col-md-6 text-right">
                                    15:40
                                </div>

                            </div>
                        </div>
                    </button>

                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" type="button">Tüm Bildirimler</button>
                </div>
            </div>

        </li>

        <li class="nav-item px-2">
            <div class="dropdown">
                <button class="btn navbtn-wgr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="fas fa-envelope"></i>
                    <span class="notifybadge badge-warning">1</span>
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">Mesajlar</h6>
                    <button class="dropdown-item dropdown-msgitem text-bold" type="button">
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-md-6 btn-msgcaption">
                                    Hilmi Ünsal
                                </div>

                                <div class="col-md-6 text-right btn-msgtime">
                                    12:21
                                </div>

                                <div class="col-md-12 btn-msgcontent">
                                    Bu bir deneme mesajıdır. <br> bu bir deneme mesajı...
                                </div>
                            </div>
                        </div>
                    </button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item dropdown-msgitem" type="button">
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-md-6 btn-msgcaption">
                                    Mehmet Zantur
                                </div>

                                <div class="col-md-6 text-right btn-msgtime">
                                    15:40
                                </div>

                                <div class="col-md-12 btn-msgcontent">
                                    Bu bir deneme mesajıdır. <br> bu bir deneme mesajı...
                                </div>
                            </div>
                        </div>
                    </button>

                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item " type="button">Tüm Mesajlar</button>
                </div>
            </div>
        </li>

        <li class="nav-item px-2">
            <div class="dropdown">
                <button class="btn navbtn-wgr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="fas fa-user"></i></button>

                <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">Merhaba bim</h6>
                    <button class="dropdown-item" type="button">Şifre Değiştir</button>
                    <button class="dropdown-item" type="button">Sorun Bildir</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" type="button">Bla Bla...</button>
                </div>
            </div>
        </li>

        <li class="nav-item px-2">
            <button class="btn navbtn-wgr" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-power-off"></i></button>
        </li>

    </ul>

</nav>